.container {
    background: #732142;
    background: radial-gradient(circle,rgba(115, 33, 66, 1) 0%, rgba(213, 235, 218, 1) 48%, rgba(15, 28, 41, 1) 100%);
    color: white;
    text-align: center;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.cardSettingContainer {
    display: flex;
    gap: 5rem;

}